config.cache
config.log
config.status
depend

*.o
*.a
*.so

cpdfetex.exe.stackdump
texk/kpathsea/Makefile
texk/kpathsea/c-auto.h
texk/kpathsea/paths.h
texk/kpathsea/texmf.cnf
texk/kpathsea/texmf.sed

texk/kpathsea/libtool
texk/kpathsea/stamp-auto
texk/kpathsea/stamp-paths
