# Mac auxiliary files
.DS_Store

# Python auxiliary files
*.pyc

# Build directory
built/

# TeX output and auxiliary files
*.dvi
*.log
*.pdf

# Makefile auxiliary files
config.cache
config.log
config.status
depend

# C output
*.o
*.a
*.so
*.lo
*.la
*.lai
*.dylib

# Build auxiliary files
cpdfetex.exe.stackdump
texk/kpathsea/Makefile
texk/kpathsea/c-auto.h
texk/kpathsea/paths.h
texk/kpathsea/texmf.cnf
texk/kpathsea/texmf.sed
texk/kpathsea/access
texk/kpathsea/access.1
texk/kpathsea/kpsestat
texk/kpathsea/kpsestat.1
texk/kpathsea/kpsewhich
texk/kpathsea/kpsewhich.1
texk/kpathsea/mktexlsr.1
texk/kpathsea/mktexmf.1
texk/kpathsea/mktexpk.1
texk/kpathsea/mktextfm.1
texk/kpathsea/readlink
texk/kpathsea/readlink.1
texk/kpathsea/sedscript
texk/kpathsea/.libs/kpsewhich

# kpathsea output binaries
texk/kpathsea/libtool
texk/kpathsea/stamp-auto
texk/kpathsea/stamp-paths

# texutil output binaries
texutil/texexec
texutil/texutil

# cpdfetex output binaries
cpdfetex/cpdfetex

# Cython auxiliary files
pytex_main.c
