.DS_Store

built/

*.dvi
*.log
*.pdf

config.cache
config.log
config.status
depend

*.o
*.a
*.so
*.lo
*.la
*.lai
*.dylib

cpdfetex.exe.stackdump
texk/kpathsea/Makefile
texk/kpathsea/c-auto.h
texk/kpathsea/paths.h
texk/kpathsea/texmf.cnf
texk/kpathsea/texmf.sed
texk/kpathsea/access
texk/kpathsea/access.1
texk/kpathsea/kpsestat
texk/kpathsea/kpsestat.1
texk/kpathsea/kpsewhich
texk/kpathsea/kpsewhich.1
texk/kpathsea/mktexlsr.1
texk/kpathsea/mktexmf.1
texk/kpathsea/mktexpk.1
texk/kpathsea/mktextfm.1
texk/kpathsea/readlink
texk/kpathsea/readlink.1
texk/kpathsea/sedscript
texk/kpathsea/.libs/kpsewhich

texk/kpathsea/libtool
texk/kpathsea/stamp-auto
texk/kpathsea/stamp-paths

texutil/texexec
texutil/texutil
